
<h1>Are you sure want to delete "{{ item }}"?</h1>

    <form method="POST" {% if url == 'webapp:status_delete' %} action="{% url "webapp:delete_status" status.pk %}" \
     {% elif url == 'webapp:type_delete' %}action="{% url "webapp:delete_type" type.pk %}"{% endif %}class="text-center">

        {% csrf_token %}

        <p><input type="submit" value="Confirm"></p>
        <p><a {% if url == 'webapp:status_delete' %} href="{% url "webapp:status_view" %}" {% elif url == 'webapp:type_delete' %}\
            href="{% url "webapp:type_view" %}" {% endif %}>Cancel</a></p>

    </form>
